%h1 Welcome!

%p We are developing goal motivation app which helps you to achieve your goals.
%p
  Almost everyone try to write goals into paper and then forget about it, because
  paper is not motivating us.
%p
  Our app provides goals with motivations. You can choice a goal and see what can motivate you to
  achieve it.
%p Also app provides functionality to add goal into list and track it.
%p The last functionality is social. User can create own goal with motivations. Than user can
share this goal for the whole app. This goal will be in #{link_to "Shared category", Category.shared}.

%br
%br

%p
  Thank you for support. Feel free to contact us!

%p <a href="http://lnkd.in/WuyUTN"> Idris Yusupov </a>, <a href="mailto:awibox@ya.ru">Andrey Arkhipov</a>
