/*---------- Index styles ----------*/
* {
  margin: 0;
  padding: 0;
}
header,
nav,
section,
article,
aside,
footer,
figcaption,
figure,
details,
hgroup {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  background: #f9f9f9;
  width: 100%;
  height: 100%;
}
a {
  color: #1270b3;
  outline: none;
  text-decoration: underline;
}
a:focus,
a:hover {
  text-decoration: none;
}
img {
  border: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 10px;
}
input,
textarea,
select {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  color: #111111;
}
input {
  vertical-align: middle;
}
.clear {
  clear: both;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  font-size: 33.6px;
  font-weight: normal;
  height: 33.6px;
  line-height: 33.6px;
  padding-bottom: 26.66666667px;
}
h2 {
  font-size: 28px;
  font-weight: normal;
  height: 28px;
  line-height: 28px;
  padding-bottom: 26.66666667px;
}
h3 {
  font-size: 24.5px;
  font-weight: normal;
  height: 24.5px;
  line-height: 24.5px;
  padding-bottom: 26.66666667px;
}
h4 {
  font-size: 19.6px;
  font-weight: normal;
  height: 19.6px;
  line-height: 19.6px;
  padding-bottom: 20px;
}
h5 {
  font-size: 18.2px;
  font-weight: normal;
  height: 18.2px;
  line-height: 18.2px;
  padding-bottom: 20px;
}
h6 {
  font-size: 14px;
  font-weight: bold;
  height: 14px;
  line-height: 14px;
  padding-bottom: 20px;
}
.b-categories {
  margin-bottom: 50px;
}
.b-categories:after {
  clear: both;
  display: block;
  content: "";
}
.b-categories__item {
  float: left;
  width: 200px;
  text-align: center;
  background: 50% 20px no-repeat;
  padding: 165px 10px 20px;
  font-size: 17.5px;
  font-family: "Roboto", serif;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  color: #000;
}
.b-categories__item:hover {
  background-color: #f5f5f5;
  text-decoration: none;
  color: #000;
}
.b-categories__item span {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 2px 8px;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
}
.b-categories__item_food {
  background-image: url(../img/b-categories__item_food.png);
}
.b-categories__item_sport {
  background-image: url(../img/b-categories__item_sport.png);
}
.b-categories__item_personal {
  background-image: url(../img/b-categories__item_personal.png);
}
.b-categories__item_shared {
  background-image: url(../img/b-categories__item_shared.png);
}
.b-categories__title-link {
  float: right;
  font-size: 16px;
}
.b-categories__goals {
  border-top: 1px solid #eee;
  margin-bottom: 30px;
}
.b-categories__goals:after {
  clear: both;
  display: block;
  content: "";
}
.b-categories__goals-item {
  border: 1px solid #eee;
  border-top: none;
  display: block;
  padding: 10px 10px 10px 52px;
  text-decoration: none;
  background: url(../img/b-categories__goals-item.png) 10px 13px no-repeat;
}
.b-categories__goals-item:hover {
  background-color: #f5f5f5;
}
.b-categories__goals-item:after {
  clear: both;
  display: block;
  content: "";
}
.b-categories__goals-done {
  border-top: 1px solid #5cb85c;
}
.b-categories__goals-done:after {
  clear: both;
  display: block;
  content: "";
}
.b-categories__goals-done .b-categories__goals-item {
  border: 1px solid #5cb85c;
  border-top: none;
}
.b-categories__goals-fail {
  border-top: 1px solid #d9534f;
}
.b-categories__goals-fail:after {
  clear: both;
  display: block;
  content: "";
}
.b-categories__goals-fail .b-categories__goals-item {
  border: 1px solid #d9534f;
  border-top: none;
}
.b-categories__goals-counter {
  margin: -5px 0 10px;
  color: #888;
  font-size: 16px;
}
.b-categories__goals-counter .b-categories__goals-counter-pen {
  color: #000;
}
.b-categories__goals-counter .b-categories__goals-counter-done {
  color: #5cb85c;
}
.b-categories__goals-counter .b-categories__goals-counter-fail {
  color: #d9534f;
}
.b-categories__goals-item-btn {
  float: right;
  padding: 0 10px;
}
.b-categories__goals-item_your {
  border: 1px solid #eee;
  border-top: none;
  display: block;
  padding: 0px 0px 0px 42px;
  text-decoration: none;
  background: url(../img/b-categories__goals-item.png) 4px 3px no-repeat;
}
.b-categories__goals-item_your .b-categories__goals-item-title {
  float: left;
  width: 550px;
  padding: 10px 0;
}
.b-categories__goals-item-btn {
  float: right;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", serif;
}
.b-categories__goals-item-btn:hover {
  color: #fff;
}
.b-categories__goals-item-btn_info {
  background-color: #5bc0de;
}
.b-categories__goals-item-btn_info:hover {
  background-color: #31b0d5;
}
.b-categories__goals-item-btn_fail {
  background-color: #d9534f;
}
.b-categories__goals-item-btn_fail:hover {
  background-color: #c9302c;
}
.b-categories__goals-item-btn_done {
  background-color: #5cb85c;
}
.b-categories__goals-item-btn_done:hover {
  background-color: #449d44;
}
.b-categories__goals-item-title {
  display: block;
  color: #000;
  font-size: 16px;
  font-family: "Roboto", serif;
  text-decoration: none;
}
.b-categories__goals-item-title:hover {
  color: #000;
}
.b-categories__goals-item-desc {
  display: block;
  color: #999;
}
.b-categories__creator {
  padding-bottom: 10px;
  padding-top: 12px;
  font-size: 12px;
  text-align: right;
  display: none;
}
.b-categories__social {
  float: right;
}
.b-categories__add-own-list {
  height: 32px;
  line-height: 32px;
  float: left;
  padding-left: 40px;
  background: url(../img/b-categories__add-own-list.png) 0 50% no-repeat;
}
.b-categories__motivations-link {
  height: 32px;
  line-height: 32px;
  display: block;
  padding-left: 40px;
  margin-bottom: 10px;
  background: url(../img/b-categories__motivation.png) 0 50% no-repeat;
}
.b-categories__motivations {
  padding: 10px 0;
}
.b-categories__motivations-item {
  padding-bottom: 15px;
  border-bottom: 1px dashed #999;
  margin-bottom: 15px;
}
.b-categories__motivations-item-title {
  font-size: 18.2px;
  font-weight: normal;
  height: 18.2px;
  line-height: 18.2px;
  padding-bottom: 5px;
}
.b-categories__motivations-item-description {
  padding-bottom: 5px;
}
.b-content {
  position: relative;
  min-height: 400px;
  padding-top: 80px;
}
.b-content .b-wrapper {
  background: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  padding: 33.33333333px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-footer {
  position: relative;
  min-height: 40px;
  padding-bottom: 60px;
}
.b-footer .b-wrapper {
  background: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 40px;
  text-align: center;
}
.b-footer__right {
  float: right;
}
.b-footer__left {
  float: left;
}
.b-form {
  padding-bottom: 50px;
}
.b-form div.input {
  margin: 0 0 20px;
}
.b-form div.input:after {
  clear: both;
  display: block;
  content: "";
}
.b-form div.input label {
  float: left;
  width: 220px;
  height: 30px;
  line-height: 30px;
}
.b-form div.input label.boolean.optional {
  float: none;
  margin-left: 10px;
  margin-top: 3px;
}
.b-form div.input input[type=text],
.b-form div.input textarea,
.b-form div.input select {
  width: 300px;
}
.b-form div.input input[type=text] {
  margin: 0;
  display: inline-block;
  text-align: start;
  height: 30px;
  padding: 6px 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.b-form div.input select {
  height: 30px;
  /* Меньше, чем рисованная "кнопочка" на ширину нужного border'а */
  line-height: 30px;
  position: relative;
  /* Это нужно, чтобы работал z-index */
  background: none;
  /* Через прозрачный фон будет видно кнопку */
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.b-form div.input textarea {
  margin: 0;
  display: inline-block;
  text-align: start;
  padding: 6px 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.b-form .button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.b-form p {
  letter-spacing: 5px;
  color: #bbb;
  font-family: Tahoma;
}
.b-header {
  width: 100%;
  position: absolute;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 20;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.b-header__name {
  float: left;
  color: #000000;
}
.b-header__name-link {
  text-decoration: none;
  font-family: "Roboto", serif;
  font-size: 24px;
  line-height: 24px;
  padding: 20px 0 20px 60px;
  height: 24px;
  background: url(../img/b-header__name.png) no-repeat 0 45%;
  float: left;
  color: #000;
}
.b-header__name-link:hover {
  color: #000;
  text-decoration: none;
}
.b-header__menu {
  float: right;
  height: 24px;
  line-height: 24px;
  padding: 20px 0;
}
.b-header__menu:after {
  clear: both;
  display: block;
  content: "";
}
.b-header__menu-item {
  padding: 0 15px 0 23px;
  background: 0 50% no-repeat;
  height: 24px;
  line-height: 24px;
  float: left;
}
.b-header__menu-item_signout {
  background-image: url(../img/b-header__menu-item_signout.png);
}
.b-header__menu-item_signin {
  float: left;
  margin-right: 12px;
  margin-left: 15px;
}
.b-header__menu-item_makegoal {
  background-image: url(../img/b-header__menu-item_makegoal.png);
}
.b-header__menu-item_yourgoals {
  background-image: url(../img/b-header__menu-item_yourgoals.png);
}
.b-header__menu-item_github {
  background: url(../img/b-header__menu-item_github.png);
  width: 32px;
  height: 32px;
  float: left;
  margin-top: -5px;
  margin-right: 8px;
}
.b-header__menu-item_twitter {
  background: url(../img/b-header__menu-item_twitter.png);
  width: 32px;
  height: 32px;
  float: left;
  margin-top: -5px;
  margin-right: 10px;
}
.b-page {
  background-color: #f9f9f9;
  height: 100%;
}
.b-wrapper {
  width: 960px;
  min-width: 0;
  max-width: 1920px;
  margin: 0 auto;
}
