%span.st_twitter_large{:displaytext => "Tweet"}
%span.st_facebook_large{:displaytext => "Facebook"}
%span.st_evernote_large{:displaytext => "Evernote"}
%span.st_vkontakte_large{:displaytext => "Vkontakte"}