.motivation
  %h5.motivation-title= motivation.title
  %p.motivation-description= motivation.description
  %p.motivation-source
    <b>Source:</b>
    - if motivation.source_is_url?
      #{link_to motivation.source, motivation.source}
    - else
      #{link_to motivation.source, '#'}
