.b-categories__motivations-item
  %div.b-categories__motivations-item-title= motivation.title
  %div.b-categories__motivations-item-description= motivation.description
  %div.b-categories__motivations-item-source
    <b>Source:</b>
    - if motivation.source_is_url?
      #{link_to motivation.source, motivation.source}
    - else
      #{link_to motivation.source, '#'}
