%h1 GoalsController#index

- @category_with_goals.each do |category|
  %h4= category.name
  - category.available_goals.each do |goal|
    %h5 Title #{goal.title}
    %p
      Created by
      %b #{goal.user_name}

