%h1 GoalsController#index

- @category_with_goals.each do |category|
  %h2 <b>Category:</b> #{category.name}
  - category.available_goals.each do |goal|
    %p
      %b Title
      #{link_to goal.title, goal}
    %p
      %b Created by
      #{goal.user_name}
  %p ------------------------------------------

