/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.flash-message {
    color: black;
    z-index: 999;
    /*position: fixed;*/
    font-weight: bold;
    width: 96%;
    margin: 20px; }
.flash-message.alert {
    border: solid 4px #900;
    background-color: #FF6565; }
.flash-message.error {
    border: solid 4px #900;
    background-color: #FF6565; }
.flash-message.notice {
    border: solid 4px #26722D;
    background-color: #A4E7A0; }
.flash-message p {
    font-size: 110%;
    margin: 15px 0; }

/* Popup */
.popup-motivation {
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none;
    padding:10px;
    min-width:100px;
    min-height: 100px;
    max-width:600px;
    max-height: 400px;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}
