%ul.categories
  - @categories.each do |category|
    %li
      =link_to "#{category.name}".html_safe, category
      %span.count= category.goals_count
  %li
    = link_to @shared_category.name, @shared_category
    %span.count= @shared_category.goals_count
